# Database
# For local development:
DATABASE_URL="file:./local.db"

# For Turso (production):
# DATABASE_URL="libsql://your-db-name-user.turso.io"
DATABASE_AUTH_TOKEN=""

# API Keys
OPENROUTER_API_KEY=""
HUGGINGFACE_API_KEY=""

# Environment
PUBLIC_ENV="development"
